  <header>
        <nav>
            <ul>
                <li><a href="/">Pagina Principal</a></li>
                <li><a href="html_css">HTML Y CSS</a></li>
                <li><a href="JS_node">JAVA SCRIPT Y NODEJS</a></li>
            </ul>
        </nav>
    </header>