<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/style.css">
    <link rel="icon" href="image/html.jpg">
    <title>Principal</title>
</head>
<body>
    <!-- Header -->
        {{> header}}

<div class="intro">
        <h1>introduccion al desarrollo web</h1>
        <h2>¿que es un servidor web?</h2>
        <p>
            Internet es la red de redes que interconecta computadores mediante
            diferentes protocolos
            • Un ordenador se puede conectar a Internet por medio de un servidor de red
            (mediante tecnologías diversas)
            • Un ordenador puede conectarse a una red local y los ordenadores de dicha
            red local pueden conectarse a Internet mediante una pasarela
            • Existen ordenadores permanentemente conectados a Internet que ofrecen
            recursos (son los servidores)
        </p>
        <img src="image/servidor.jpg">
    </div>

    <div class="html">
        <h2>¿que es HTML?</h2>
        <p>
            Una página web, está compuesta de 2 partes: El encabezamiento
            y el cuerpo de la página. Paralelamente, a esto, existen tres
            etiquetas fundamentales, las mismas que deben estar incluidas en
            el archivo HTML de manera obligatoria. Estas tres etiquetas son:
    
        </p>
        <img src="image/html.jpg">
    </div>

    <div class="css">
        <h2>¿que es css?</h2>
        <p>
            CSS (Cascading Style Sheets) es un lenguaje de hojas de estilo que se utiliza
            para describir la presentación de un documento HTML o XML. CSS describe
            cómo se deben mostrar los elementos HTML en la pantalla, en papel o en
            otros medios. CSS ahorra mucho trabajo y tiempo al permitir que los
            desarrolladores web controlen el diseño de múltiples páginas web al mismo
            tiempo.
        </p>
        <img src="image/css.png">
    </div>



    <!-- Footer -->
        {{> footer}}


    
</body>
</html>