<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/style.css">
    <link rel="icon" href="image/html.jpg">
    <title>HTML Y CSS</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="index.html">Pagina Principal</a></li>
                <li><a href="html_css.html">HTML Y CSS</a></li>
                <li><a href="JS_node.html">JAVA SCRIPT Y NODEJS</a></li>
            </ul>
        </nav>
    </header> 

    <div class="etiquetahtml">
        <form>
            <ol>
                <li>html /html</li>
            </ol>
        </form>

        <img src="image/html.jpg">
    </div>

    <div class="etiquetatitle">
        <form>
            <ol>
                <li><li>etiqueta title</li></li>
            </ol>
        </form>
        <img src="image/csshtml.png">
    </div>
    
    <div class="etiquetahead">
        <form>
            <ol>
                <li>etiqueta head</li>
            </ol>
        </form>
        <img src="image/csshtml.png">
    </div>

    <div class="etiquetabody">
        <form>
            <ol>
                <li>etiqueta body</li>
            </ol>
        </form>
        <img src="image/csshtml.png">
    </div>

    <div class="etiquetah">
        <form>
            <ol>
                <li>etiquetas h1 a h6</li>
            </ol>
        </form>
        <img src="image/csshtml.png">
    </div>

    <div class="etiquetap">
        <form>
            <ol>
            <li>etiqueta p</li>
            </ol>
        </form>
        <img src="image/csshtml.png">
    </div>

    <div class="etiquetaa">
        <form>
            <ol>
                <li>etiqueta a</li>
            </ol>
        </form>
        <img src="image/csshtml.png">
    </div>

    <div class="etiquetaimg">
        <form>
            <ol>
                <li>etiqueta img</li>
            </ol>
        </form>
        <img src="image/csshtml.png">
    </div>



    
        <footer>
            <p>Edwin Eduardo Meletz Meletz</p>
            <p>Carnet: 2290-20-3050</p>
        </footer>
    
</body>
</html>