<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/style.css">
    <link rel="icon" href="image/html.jpg">
    <title>JS Y NODEJS</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="index.html">Pagina Principal</a></li>
                <li><a href="html_css.html">HTML Y CSS</a></li>
                <li><a href="JS_node.html">JAVA SCRIPT Y NODEJS</a></li>
            </ul>
        </nav>
    </header>

<div class="java">
<h2>comandos de javascript</h2>
<form>
    <ol>
        <li>let</li>
        <li>var</li>
        <li>const</li>
        <li>value</li>
        <li>'{$}'</li>
        <li>concat</li>
        <li>number</li>
        <li>true / false</li>
    </ol>
</form>
<img src="image/java.png">
</div>


    
        <footer>
            <p>Edwin Eduardo Meletz Meletz</p>
            <p>Carnet: 2290-20-3050</p>
        </footer>
    
</body>
</html>